################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MoodTracker/.vs/MoodTracker/FileContentIndex/e5e11d93-f4f8-4f9f-88f2-385f5cb0a5d4.vsidx
*.vsidx
/MoodTracker/.vs/MoodTracker/FileContentIndex/544da7bb-f019-4169-a320-69d0f09af462.vsidx
